.hidden { display: none; }

.border {
    border-style: solid;
    border-width: 1px;
    padding: 2, 2, 2, 2;
    display: inline-block;
}

.disabled-input {
    disabled: true;
    pointer-events: none;
}

.carousel-control {
    width: 15px;
}


